/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav-link {
    transition: color 0.3s; /* Transition de couleur fluide */
    padding: 30px 0;
    border-top: #0065fc00 2px solid;
}

.nav-link:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.headline {
    margin-bottom: 35px;
}

.recherche-form {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
}

.recherche-form .fa-search {
    display: none; /* Cache la loupe */
  }
  
  .recherche-form .rechercher-text {
    display: inline; /* Affiche le texte "Rechercher" */
  }

.i-logo{
    background-color: #F2F2F2;
    padding: 16px;
    border-radius: 15px 0 0 15px;
    color: black;
}

.recherche-input {
    height: 49px;
    border: 1px dashed #F2F2F2;
    font-weight: bold;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    gap: 10px;

}

.recherche-btn {
    width: Hug (132px)px;
    height: Fixed (49px)px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21,13px;
    text-align: center;
}

.recherche-btn .fa-magnifying-glass{
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
}

.filterBar {
    display: flex;
    flex-direction: column;
}

.filters-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.filters-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    padding: 16px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
}

.filters-list li:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}



.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info i {
    border: #DEEBFF 1px solid;
    border-radius: 50%;
    padding: 7px;
}

.section-title {
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.show-more {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 268px;   
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements .card {
    margin-top: 33px;
    width: 30%;
}
.hebergements .card img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 124px;
    width: 100%;
}

.hebergements .card-title {
    font-size: 16px;
    margin: 8px;
}

.hebergements .card-subtitle {
    font-size: 14px;
    margin: 8px;
}

.hebergements .card-rating {
    margin: 8px ;    
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 100%;
}

.populaires-cards img {
    object-fit: cover;
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.populaires-cards .card-subtitle {
    font-size: 14px;
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 439px;
        width: 23%; 
}

.activites-cards .card img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    height: 59px;
}
 .activites-cards .card-txt {
    height: 59px;
} 

.activites-cards .card-title {
    margin: 15px;
    font-size: 16px;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 0px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 100%;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card {
            height: 270px;
            width: 193.5px;
    }

    .activites-cards .card img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        justify-content: space-around;
    }

    .nav-link {
        padding: 0px;
        margin-bottom: 10px;
        border-bottom: #0065fc00 solid 3px;
        border-top: none;
    }

    .nav-link:hover {
        border-top: none;
        border-bottom: #0065fc solid 3px;
    }

    /* .headline {
        margin-inline: 40px;
    } */

    .recherche{
        padding: 20px
    }

    .recherche-form {
        width: 100%;
    }

    .recherche-form .fa-search {
        display: inline; /* Affiche la loupe */
        color: white;
      }
      
      .recherche-form .rechercher-text {
        display: none; /* Cache le texte "Rechercher" */
      }

    .recherche-input {
        width: 100%;
    }

    .recherche-btn {
        border-radius: 15px 15px 15px 15px;
    }


   

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .section-title {
        margin: 0px;
    }

    .filters-list a {
        font-size: 14px;
    }

    .filters-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        border-radius: 25px 0px 0px 0px;
    }

    .hebergements-and-populaires section {
       border-radius: 0px;
       padding: 20px;
    }

    .hebergements-and-populaires .card {
        padding: 0px;
    }

    .hebergements {
        background-color: white;
        order: 2; /* Changez l'ordre pour afficher "Hébergements" en second */
    }

    .hebergements-cards {
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .populaires {
        background-color: var(--main-bg-color);
        order: 1; /* Changez l'ordre pour afficher "Populaires" en premier */
    }
    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 15px;
        width: 100%;
    }
    
    .populaires-cards img {
        object-fit: cover;
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 16px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 14px;
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    .activites {
        padding: 30px;
    }
    .activites-cards {
        display: block;
        width: 100%;
        margin-top: 15px;

    }

    .activites-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    footer .footer {
        display: flex;
        flex-direction: column;
    }

}